//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends page-templates/tpl_master.pug

block title
	title Universidad El Bosque
block contenido
	.container
		.row
			.block-crear-cuenta.col-xl-6
				include  template-parts/crear_cuenta.pug
			// /.block-crear-cuenta.col-md-6
			.block-login.col-xl-6
				include  template-parts/login.pug
			// /.block-login.col-md-6
	// /.container
	
















	

















			






















	

			



	

			

	