//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends page-templates/tpl_master.pug

block title
	title Inscripcion Registro nuevo Programa -  Universidad El Bosque
block contenido
	.block-resumen
		.container
			.col-md-12
				.field-inscripciones--mensaje
					|<span>Gabriela Rodriguez</span>, estas retomando tu proceso de ingreso a la Universidad El Bosque. 
				.block-inscripciones--paso4
					.block-acordion--resumen
						.row
							+accordion("Example")
									+accordion-item-primary("Resumen de Estado de tu proceso de Ingreso al progama de Diseño de Comunicación","0ne","true")
										.small.mb-4
											|Sabemos que hay mucha incertidumbre en torno a la situación actual con el Coronavirus. El equipo de atencion al usuario está aquí para brindarle asistencia, como siempre, las 24 horas del día, los 7 días de la semana, los 365 días del año, y puede comunicarse con nosotros en atencionalusuario@unbosque.edu.co.
										.block-acordion--card-wrap
											+simple-card('Registro de Inscripción', 'Finalizado', 'btn btn-primary btn-line', '#', 'Consultar', 'circle done', '✓')
											+simple-card('Pago Derechos  de Inscripción', 'Finalizado', 'btn btn-primary btn-line', '#', 'Consultar', 'circle done', '✓')
											+simple-card('Envianos tus documentos', 'Pendiente', 'alert alert-warning', '#', 'Subir documentos', 'circle', '.')
											+simple-card('Programa tu entrevista', 'Pendiente', 'alert alert-secondary', '#', 'programar', 'circle', '.')
											+simple-card('Admitido', 'Pendiente', 'alert alert-secondary', '#', 'Consultar', 'circle', '.')
											+simple-card('Matricula', 'Pendiente', 'alert alert-secondary', '#', 'Pagar', 'circle', '.')
									+accordion-item-primary("Resumen de Estado de tu proceso de Ingreso al progama de Medicina","two","")
										.field-item--title
											.small.mb-4
												|Sabemos que hay mucha incertidumbre en torno a la situación actual con el Coronavirus. El equipo de atencion al usuario está aquí para brindarle asistencia, como siempre, las 24 horas del día, los 7 días de la semana, los 365 días del año, y puede comunicarse con nosotros en atencionalusuario@unbosque.edu.co.
										.block-acordion--card-wrap
											+simple-card('Registro de Inscripción', 'Finalizado', 'btn btn-primary btn-line', '#', 'Consultar', 'circle done', '✓')
											+simple-card('Pago Derechos  de Inscripción', 'Pendiente', 'alert alert-warning', '#', 'Ir a pagar', 'circle', '✓')
											+simple-card('Envianos tus documentos', 'Pendiente', 'alert alert-secondary', '#', 'Subir documentos', 'circle', '.')
											+simple-card('Programa tu entrevista', 'Pendiente', 'alert alert-secondary', '#', 'programar', 'circle', '.')
											+simple-card('Admitido', 'Pendiente', 'alert alert-secondary', '#', 'Consultar', 'circle', '.')
											+simple-card('Matricula', 'Pendiente', 'alert alert-secondary', '#', 'Pagar', 'circle', '.')
						// /.row
					// /.block-acordion--resumen
				// /.block-inscripciones--paso4
				.block-inscripciones--btn
					button(class='btn btn-lg btn-primary btn-block mt-3' type='submit') Inscribirme en otro programa
				// /.block-inscripciones--btn
			// /.col-md-12
		// /.container
	// /.block-crearcuenta
	
















	

















			






















	

			



	

			

	