footer.block-footer--inscripciones
	.container
			.row.block-footer--inscripciones--wrap
				.col-lg-6.col-md-12
					.field-footer--coltitle
						|Universidad El Bosque
					.row
						.col-md-5.offset-md-1.col-10.offset-2.bogota
							.field-footer--colsubtitle
								|Instalaciones Bogotá
							.field-footer--body
								p Av. Cra. 9 No. 131 A - 02<br> Línea gratuita:018000 113033<br>PBX: (571) 648 9000
						.col-md-5.offset-md-1.col-10.offset-2.chia
							.field-footer--colsubtitle
								|Instalaciones Chía
							.field-footer--body
								p Autopista Norte<br>Km. 20 costado occidental<br>Vía Chía - Bogotá<br>Teléfono: 676 3110<br>Línea gratuita: 018000 113033<br>PBX: (571) 648 9000
				.col-lg-3.col-md-6
					.field-footer--coltitle
						|Admisiones
					.field-footer--body
						p PBX.: 648 9000<br>Línea gratuita: 018000 113033<br>Edificio Fundadores<br>Av. Cra. 9 No. 131 A - 02<br>Skype: /uelbosque<br>Correo electrónico:<br>
							a(href="mailto:atencionalusuario@unbosque.edu.co") atencionalusuario@unbosque.edu.co	
					.field-footer--body--whatsapp
						|Línea whatsap
						span
							a(href="https://wa.me/3173889587") 317 3889587

				.col-lg-3.col3.col-md-6
					.field-footer--coltitle
						|Información Legal
					.field-footer--body
						a(href="https://www.unbosque.edu.co/inscripciones/valores-pecuniarios" target="_blank") Valores Pecuniarios
						a(href="https://www.unbosque.edu.co/sites/default/files/2017-06/estatuto_general_Universidad_El_Bosque.pdf" target="_blank") Estatuto General
						a(href="https://www.unbosque.edu.co/sites/default/files/2017-06/reglamento_estudiantil_Universidad_El_Bosque_mar2015.pdf" target="_blank") Reglamento Estudiantil
						a(href="https://www.unbosque.edu.co/sites/default/files/2019-04/Estatuto-Docente.pdf" target="_blank") Estatuto Docente
						a(href="https://www.unbosque.edu.co/sites/default/files/2017-06/politica_bienestar_universitario_UEB_2013.pdf" target="_blank") Política de Bienestar Universitario
						a(href="https://www.unbosque.edu.co/sites/default/files/2017-06/politica-tratamiento-datos-personales.pdf" target="_blank") Política de Tratamiento de Datos Personales
						a(href="https://www.unbosque.edu.co/sites/default/files/2017-06/terminos-y-condiciones-de-uso-del-sitio.pdf" target="_blank") Términos y Condiciones de Uso del Sitio
						a(href="https://www.unbosque.edu.co/sites/default/files/2019-01/politica-privacidad-informacion-pagina-web-universidad-el-bosque.pdf" target="_blank") Aviso de Privacidad
						a(href="https://www.unbosque.edu.co/informacion-tributaria	" target="_blank") Información Tributaria
			// /.block-footer--inscripciones--wrap

.block-footer--end
	.container
		.row
			.field-footer--small
				|Vigilada Mineducación. Personería Jurídica otorgada mediante resolución 11153 del 4 de agosto de 1978.