//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 
.block-form--login
    .row
        .field-inscripciones--h1
            |Ingresar a mi  cuenta
        .small.mb-2 Ingresa con tus redes sociales, si creaste tu cuenta con una de tus redes sociales.
    .row
        .block-inscripciones--social
            .field-inscripciones--social--facebook
                span 
                a(href="") Ingresar con Facebook
            .field-inscripciones--social--google
                span
                a(href="") Ingresar con Google
    .row.block-login--wrap
        .field-inscripciones--h2 
                |o Ingresa tu correo electrónico y contraseña a continuación para iniciar sesión
        form.col-12.p-0
            .form-row
                +inputText('col-12', 'email', 'inputEmail', 'Correo electrónico','micorreo@dominio.com')
            .form-row
                +inputText('col-12', 'password', 'inputPassword', 'Contraseña','Ingrese contraseña')
            .form-row
                div.col-12.checkbox
                    label
                    input(type='checkbox' value='remember-me')
                    | Recordar en este equipo
            button(class='btn btn-lg btn-primary btn-block' type='submit') Ingresar
            a(href="" class="link-lost") Olvide mi contraseña
// /.form-signin

