header
    .container
        .row
            nav(class="navbar navbar-expand-sm navbar-light")
                a.navbar-brand(href='/') 
                    img(src="images/logo-ueb.svg" alt="Logo Universidad El Bosque")
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNavAltMarkup
                    .navbar-nav.ml-auto
                        a.nav-link.closelink(href='/')
                            |<span aria-hidden="true">×</span> Cerrar sesión 
// /header
          
